@model Bakery.Models.Treat
@using Bakery.Models

<h2>@Model.Name</h2>

<h3>Flavors:</h3>
<ul>
    @foreach (var ft in Model.JoinEntities)
    {
        <li>@ft.Flavor.Name</li>
    }
</ul>

<p>
    @Html.ActionLink("Add Flavor", "AddFlavor", "Treats", new { id = Model.TreatId }, null) | 
    @Html.ActionLink("Edit", "Edit", new { id = Model.TreatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
