@model Bakery.Models.Flavor
@using Bakery.Models

<h2>Edit Flavor</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)
    
    <p>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
   
    </p>
    
    <input type="submit" value="Save" />
}

<p>
    @Html.ActionLink("Delete This Flavor", "Delete", new { id = Model.FlavorId }, new { onclick = "return confirm('Are you sure?');" })
</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
